<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel questions search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id" 
	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label questions id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN question_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_question_name}  r-horizontal-field form-horizontal" 
	
		data-fieldname="question_name" 
	
	data-signal-error-for="question_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="question_name" >


	<label class="r-search-label control-label" for="{$labelfor_question_name}">
		{$label questions question_name }	</label>
	<div class="r-search-option">
		{$searchtype_question_name}
	</div>
	<div class="r-search-field">
		{$question_name_editcontrol}	</div>
	<div class="r-search-field">
		{$question_name_editcontrol1}
	</div>
	
</div>

{END question_name_fieldblock}
											
{BEGIN category_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_category}  r-horizontal-field form-horizontal" 
	
		data-fieldname="category" 
	
	data-signal-error-for="category{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="category" >


	<label class="r-search-label control-label" for="{$labelfor_category}">
		{$label questions category }	</label>
	<div class="r-search-option">
		{$searchtype_category}
	</div>
	<div class="r-search-field">
		{$category_editcontrol}	</div>
	<div class="r-search-field">
		{$category_editcontrol1}
	</div>
	
</div>

{END category_fieldblock}
											
{BEGIN question_ans_1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_question_ans_1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="question_ans_1" 
	
	data-signal-error-for="question_ans_1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="question_ans_1" >


	<label class="r-search-label control-label" for="{$labelfor_question_ans_1}">
		{$label questions question_ans_1 }	</label>
	<div class="r-search-option">
		{$searchtype_question_ans_1}
	</div>
	<div class="r-search-field">
		{$question_ans_1_editcontrol}	</div>
	<div class="r-search-field">
		{$question_ans_1_editcontrol1}
	</div>
	
</div>

{END question_ans_1_fieldblock}
											
{BEGIN question_ans_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_question_ans_2}  r-horizontal-field form-horizontal" 
	
		data-fieldname="question_ans_2" 
	
	data-signal-error-for="question_ans_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="question_ans_2" >


	<label class="r-search-label control-label" for="{$labelfor_question_ans_2}">
		{$label questions question_ans_2 }	</label>
	<div class="r-search-option">
		{$searchtype_question_ans_2}
	</div>
	<div class="r-search-field">
		{$question_ans_2_editcontrol}	</div>
	<div class="r-search-field">
		{$question_ans_2_editcontrol1}
	</div>
	
</div>

{END question_ans_2_fieldblock}
											
{BEGIN question_ans_3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_question_ans_3}  r-horizontal-field form-horizontal" 
	
		data-fieldname="question_ans_3" 
	
	data-signal-error-for="question_ans_3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="question_ans_3" >


	<label class="r-search-label control-label" for="{$labelfor_question_ans_3}">
		{$label questions question_ans_3 }	</label>
	<div class="r-search-option">
		{$searchtype_question_ans_3}
	</div>
	<div class="r-search-field">
		{$question_ans_3_editcontrol}	</div>
	<div class="r-search-field">
		{$question_ans_3_editcontrol1}
	</div>
	
</div>

{END question_ans_3_fieldblock}
											
{BEGIN question_ans_4_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_question_ans_4}  r-horizontal-field form-horizontal" 
	
		data-fieldname="question_ans_4" 
	
	data-signal-error-for="question_ans_4{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="question_ans_4" >


	<label class="r-search-label control-label" for="{$labelfor_question_ans_4}">
		{$label questions question_ans_4 }	</label>
	<div class="r-search-option">
		{$searchtype_question_ans_4}
	</div>
	<div class="r-search-field">
		{$question_ans_4_editcontrol}	</div>
	<div class="r-search-field">
		{$question_ans_4_editcontrol1}
	</div>
	
</div>

{END question_ans_4_fieldblock}
											
{BEGIN question_correct_ans_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_question_correct_ans}  r-horizontal-field form-horizontal" 
	
		data-fieldname="question_correct_ans" 
	
	data-signal-error-for="question_correct_ans{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="question_correct_ans" >


	<label class="r-search-label control-label" for="{$labelfor_question_correct_ans}">
		{$label questions question_correct_ans }	</label>
	<div class="r-search-option">
		{$searchtype_question_correct_ans}
	</div>
	<div class="r-search-field">
		{$question_correct_ans_editcontrol}	</div>
	<div class="r-search-field">
		{$question_correct_ans_editcontrol1}
	</div>
	
</div>

{END question_correct_ans_fieldblock}
											
{BEGIN status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-horizontal-field form-horizontal" 
	
		data-fieldname="status" 
	
	data-signal-error-for="status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="status" >


	<label class="r-search-label control-label" for="{$labelfor_status}">
		{$label questions status }	</label>
	<div class="r-search-option">
		{$searchtype_status}
	</div>
	<div class="r-search-field">
		{$status_editcontrol}	</div>
	<div class="r-search-field">
		{$status_editcontrol1}
	</div>
	
</div>

{END status_fieldblock}
											
{BEGIN now_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_now}  r-horizontal-field form-horizontal" 
	
		data-fieldname="now" 
	
	data-signal-error-for="now{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="now" >


	<label class="r-search-label control-label" for="{$labelfor_now}">
		{$label questions now }	</label>
	<div class="r-search-option">
		{$searchtype_now}
	</div>
	<div class="r-search-field">
		{$now_editcontrol}	</div>
	<div class="r-search-field">
		{$now_editcontrol1}
	</div>
	
</div>

{END now_fieldblock}
											
{BEGIN updated_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated}  r-horizontal-field form-horizontal" 
	
		data-fieldname="updated" 
	
	data-signal-error-for="updated{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="updated" >


	<label class="r-search-label control-label" for="{$labelfor_updated}">
		{$label questions updated }	</label>
	<div class="r-search-option">
		{$searchtype_updated}
	</div>
	<div class="r-search-field">
		{$updated_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_editcontrol1}
	</div>
	
</div>

{END updated_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
